[submodule "modules/ruby"]
	path = modules/ruby
	url = git@github.com:orbitalquark/textadept-ruby.git
[submodule "modules/html"]
	path = modules/html
	url = git@github.com:orbitalquark/textadept-html.git
[submodule "modules/css"]
	path = modules/css
	url = git@github.com:orbitalquark/textadept-css.git
[submodule "modules/spellcheck"]
	path = modules/spellcheck
	url = git@github.com:orbitalquark/textadept-spellcheck.git
